.p1{
    /* border: solid 1px; */
    color: black;
    padding: 5px;
    float: left;
    width: 100px;
    margin: 5px;
}
.p2{
    width: 100px;
    /* border: solid 1px; */
    float: left;
    margin: 5px;
}
.p3{
    /* border: solid 1px; */
    float: left;
    width: 100px;
    margin: 5px;
}