h1{
    position: fixed;
    padding: 10px;
    color: green;
    background-color: aqua;
    z-index: 10;
}
span{
    color: red;
    position: fixed;
    /* z-index: 3; */
}
p{
    width: 300px;
    position: relative;
    top: 100px; 
    /* z-index: 10;  */
}